@import "../../theme/variables.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  &__message {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  &__space {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__form {
    color: $color-primary;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__carousell {
    width: 50%;
    background-color: $color-primary;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__submitRow {
    display: flex;
    flex-direction: column;
  }

  &__button {
    color: $color-primary;
    background-color: white;
    border: 2px solid $color-primary;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.5rem;
    &--invited {
      background-color: black;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 5px;
      margin: 1rem;
      padding: 0.5rem;
    }
  }
}

#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.form__input {
  width: 80%;
  padding: 0.5rem;
  margin: 5px;
  border: 1px solid $color-primary;
  border-radius: 5px;
}
