@import "../../theme/variables.scss";

.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.search__searcherRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border-bottom: 5px solid $color-primary;
  justify-content: space-evenly;
  align-items: center;
}

.search__header {
  width: 100%;
  color: $color-primary;
  text-align: center;
}

@media (max-width: 576px) {
  .search__userAvatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
    border: 3px solid $color-primary;
  }
}

@media (min-width: 577px) {
  .search__userAvatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
    border: 3px solid $color-primary;
  }
}

.search__searcher {
  margin: 1rem;
  padding: 0.5rem;
  width: 75%;
  height: 2rem;
  border: 3px solid $color-primary;
  border-radius: 10px;
  color: $color-primary;
  background-color: black;
}

.search__results {
  width: 80%;
}
