@import "../../theme/variables.scss";

.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  &__searcherRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 5px solid $color-primary;
    align-items: center;
  }

  &__header {
    width: 100%;
    color: $color-primary;
    text-align: center;
  }

  &__imgSpace {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__userAvatar {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 1rem;
    border: 3px solid $color-primary;
    @media (max-width: 576px) {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      margin: 1rem;
      border: 3px solid $color-primary;
    }
  }

  &__searcher {
    margin: 1rem;
    padding: 0.5rem;
    width: 80%;
    height: 2rem;
    border: 3px solid $color-primary;
    border-radius: 10px;
    color: $color-primary;
    background-color: black;
  }

  &__inputs {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    color: $color-primary;
    width: 40%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__select {
    width: 60%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $color-primary;
    background-color: black;
    border: 3px solid $color-primary;
    border-radius: 10px;
  }

  &__type {
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: 5px solid $color-primary;
    justify-content: space-evenly;
  }

  &__typeButton {
    margin: 1rem;
    padding: 0.25rem;
    background-color: white;
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
    &--active {
      background-color: $color-primary;
      color: white;
    }
  }

  &__results {
    width: 80%;
  }

  &__recipeResults {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__spinner {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
