@import "../../theme/variables.scss";

@media (max-width: 576px) {
  .followRow {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid $color-primary;
    border-radius: 10px;
    padding: 0.25rem;
    color: $color-primary;
    background-color: black;
  }

  .followRow__avatarRow {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .followRow__avatar {
    width: 20%;
    border-radius: 50%;
    border: 3px solid $color-primary;
  }

  .followRow__user {
    //   display: flex;
    width: 100%;
  }

  .followRow__usernames {
    display: flex;
    flex-wrap: wrap;
  }

  .followRow__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      border: 2px solid $color-primary;
      border-radius: 10px;
      padding: 0.25rem;
    }
  }
}

@media (min-width: 577px) {
  .followRow {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid $color-primary;
    border-radius: 10px;
    padding: 1rem;
    color: $color-primary;
    background-color: black;
  }

  .followRow__avatarRow {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .followRow__avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid $color-primary;
  }

  .followRow__user {
    //   display: flex;
    width: 65%;
  }

  .followRow__button {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      border: 2px solid $color-primary;
      border-radius: 10px;
      padding: 0.5rem;
    }
  }
}

.followRow__usernames {
  display: flex;
  align-items: center;

  & .followRow__username {
    padding-left: 1rem;
  }
}

.followRow__userRecipies {
  display: flex;
  align-items: center;

  & .followRow__userRecipie {
    padding-left: 1rem;
  }
}
