@import "../../theme/variables.scss";

.otherProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;

  &__userRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: $color-primary;
    border-bottom: 5px solid $color-primary;
  }
  &__avatar {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  &__userAvatar {
    @media (min-width: 577px) {
      object-fit: cover;
      margin: 1rem;
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 3px solid $color-primary;
    }

    @media (min-width: 1000px) {
      object-fit: cover;
      margin: 1rem;
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 3px solid $color-primary;
    }

    @media (max-width: 576px) {
      margin: 1rem;
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 3px solid $color-primary;
    }
  }
  &__headerButton {
    cursor: pointer;

    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 0.25rem;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
    &--active {
      background-color: $color-primary;
      color: white !important;
    }

    @media (max-width: 576px) {
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 5px;
      padding: 0.25rem;
      font-size: 0.75rem;
    }
  }
  &__data {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
  }
  &__userInfo {
    width: 100%;
  }
  &__bottomRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }
  &__follow {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__followButton {
    &--follow {
      border-radius: 5px;
      padding: 0.25rem;
      margin: 0.25rem;
      border: 2px solid $color-primary;
    }

    &--unfollow {
      border-radius: 5px;
      padding: 0.25rem;
      margin: 0.25rem;
      background-color: $color-primary;
      color: white;
    }
  }
  &__follows {
    display: flex;
    justify-content: end;
    align-items: center;

    & p {
      margin: 0.5rem;
    }
  }
  &__userRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid $color-primary;
  }
  &__recipies {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__loader {
    display: flex;
    width: 100%;
    height: 50rem;
    justify-content: center;
    align-items: center;
  }
}

.link {
  text-decoration: none;
  color: $color-primary;
}
