@import "../../theme/variables.scss";

.navBar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  border-bottom: solid 2px $color-primary;
  background-color: black;
}

.navBar__brand {
  //   border: 1px solid blue;
  display: flex;
  align-items: center;
}

.navBar__name {
  margin: 0.5rem;
  color: $color-primary;
  display: flex;
  align-items: center;
}

.navBar__icon {
  color: $color-primary;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .navBar__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .navBar__select {
    display: none;
  }

  .navBar__drop {
    display: none;
  }
}

@media (max-width: 577px) {
  .navBar__buttons {
    display: none;
  }

  .navBar__select {
    // width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBar__drop {
    color: $color-primary;
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 3px solid $color-primary;
  }

  .navbar__dropButton {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.navBar__button {
  margin: 0.5rem;
  color: $color-primary;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.navBar__selectButton {
  border: 3px solid $color-primary;
  border-radius: 10px;
  background-color: black;
  color: $color-primary;
  margin-right: 0.5rem;
}

.link {
  text-decoration: none;
  color: $color-primary;
}

.primary {
  color: $color-primary;
}
