@import "../../theme/variables.scss";

.navBar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  border-bottom: solid 2px $color-primary;
  background-color: black;

  &__brand {
    display: flex;
    align-items: center;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    margin: 0.5rem;
    color: $color-primary;
    display: flex;
    align-items: center;
  }

  &__icon {
    color: $color-primary;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 577px) {
      display: none;
    }
  }

  &__select {
    display: none;
    @media (max-width: 577px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__drop {
    color: $color-primary;
    width: 100%;
    position: fixed;
    top: 4rem;
    background-color: black;
    border-bottom: 3px solid $color-primary;
    @media (min-width: 578px) {
      display: none;
    }
  }

  &__button {
    margin: 0.5rem;
    color: $color-primary;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__selectButton {
    border: 3px solid $color-primary;
    border-radius: 10px;
    background-color: black;
    color: $color-primary;
    margin-right: 0.5rem;
  }
}

.link {
  text-decoration: none;
  color: $color-primary;
}

.primary {
  color: $color-primary;
}
