@import "../../theme/variables.scss";

.recipeCard {
  width: 90%;
  margin-top: 1rem;
  border: 4px solid $color-primary;
  border-radius: 15px;
  margin-bottom: 2rem;
  background-color: white;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.02);
  }
  @media (min-width: 1000px) {
    width: 45%;
  }
  &__userRow {
    display: flex;
    background-color: black;
    border-bottom: 5px solid $color-primary;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0.5rem;
  }

  &__picSpace {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    @media (min-width: 420px) {
      display: flex;
      width: 20%;
      justify-content: center;
      align-items: center;
    }
  }

  &__userImg {
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin: 0.5rem;
    object-fit: cover;
  }
  &__userData {
    color: $color-primary;
    & p {
      padding: 0.3rem;
    }
  }

  &__contentRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__description {
    overflow-wrap: break-word;
    text-align: justify;
    width: 45%;
    height: 280px;
    overflow: scroll;
    @media (max-width: 575px) {
      height: auto;
      width: 85%;
    }
  }

  &__recipePicSpace {
    width: 45%;
    @media (max-width: 575px) {
      width: 85%;
    }
  }

  &__recipeImg {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid $color-primary;
  }

  &__footerRow {
    border-top: 5px solid $color-primary;
    margin-top: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & p {
      color: $color-primary;
      margin: 0.5rem;
      display: flex;
      align-items: center;
    }
  }

  &__button {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid $color-primary;
    border-radius: 5px;
    color: $color-primary;
    background-color: black;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__icon {
    font-size: 1.25rem;
    padding: 0.25rem;
  }
}

.link {
  text-decoration: none;
  color: $color-primary;
}
