@import "../../theme/variables.scss";

.newRecipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;

  &__form {
    width: 85%;
    border: 3px solid $color-primary;
    background-color: black;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 950px) {
      width: 45%;
    }
  }

  &__preview {
    width: 85%;
    border: 3px solid $color-primary;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (min-width: 950px) {
      width: 45%;
    }
  }

  &__label {
    color: $color-primary;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__input {
    color: $color-primary;
    background-color: black;
    border: 3px solid $color-primary;
    border-radius: 10px;
    width: 80%;
    margin: 0.5rem;
    padding: 0.25rem;
  }

  &__select {
    background-color: black;
    color: $color-primary;
    border: 3px solid $color-primary;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.25rem;
    width: 80%;
  }

  &__ingredient {
    color: $color-primary;
    background-color: black;
    border: 3px solid $color-primary;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    width: 25%;
  }

  &__button {
    color: $color-primary;
    font-size: 1.5rem;
    background-color: white;
    border: 3px solid $color-primary;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__textarea {
    background-color: black;
    border: 3px solid $color-primary;
    border-radius: 10px;
    width: 80%;
    padding: 0.25rem;
    margin: 0.5rem;
    color: $color-primary;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__file {
    border: 3px solid $color-primary;
    border-radius: 10px;
    width: 80%;
    padding: 0.25rem;
    margin: 0.5rem;
    color: $color-primary;
  }

  &__submitButton {
    width: 25%;
    font-size: 80%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 3px solid $color-primary;
    border-radius: 10px;
    background-color: white;
    color: $color-primary;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.preview {
  &__title {
    padding-left: 1.5rem;
  }

  &__descriptionRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.5rem;
  }

  &__imgSpace {
    width: 50%;
  }

  &__pic {
    height: 18rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__catDes {
    width: 40%;
    overflow-wrap: break-word;
  }

  &__ingredients {
    width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
  }

  &__preparation {
    width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__header {
    border: 1px solid $color-primary;
    text-align: center;
    padding: 0.5rem;
  }

  &__data {
    border: 1px solid $color-primary;
    text-align: center;
    padding: 0.25rem;
  }

  &__icon {
    margin: 0rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: $color-primary;
    color: white;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__step {
    & h4 {
      margin: 0.5rem;
      display: flex;
      align-items: center;
    }
  }
}
