@import "../../theme/variables.scss";

.newRecipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 576px) {
  .newRecipe__form {
    width: 85%;
    border: 3px solid $color-primary;
    background-color: black;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .newRecipe__preview {
    width: 85%;
    border: 3px solid $color-primary;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 577px) {
  .newRecipe__form {
    width: 45%;
    border: 3px solid $color-primary;
    background-color: black;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .newRecipe__preview {
    width: 45%;
    border: 3px solid $color-primary;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.newRecipe__label {
  color: $color-primary;
  width: 100%;
  display: flex;
  justify-content: center;
}

.newRecipe__input {
  color: $color-primary;
  background-color: black;
  border: 3px solid $color-primary;
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem;
  padding: 0.25rem;
}

.newRecipe__select {
  background-color: black;
  color: $color-primary;
  border: 3px solid $color-primary;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.25rem;
  width: 80%;
}

.newRecipe__ingredient {
  color: $color-primary;
  background-color: black;
  border: 3px solid $color-primary;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  width: 25%;
}

.newRecipe__button {
  color: $color-primary;
  background-color: white;
  border: 3px solid $color-primary;
  border-radius: 10px;
  margin: 0.5rem;
}

.newRecipe__textarea {
  background-color: black;
  border: 3px solid $color-primary;
  border-radius: 10px;
  width: 80%;
  padding: 0.25rem;
  margin: 0.5rem;
  color: $color-primary;
  font-family: Arial, Helvetica, sans-serif;
}

.newRecipe__file {
  border: 3px solid $color-primary;
  border-radius: 10px;
  width: 80%;
  padding: 0.25rem;
  margin: 0.5rem;
  color: $color-primary;
}

.newRecipe__submitButton {
  width: 25%;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 3px solid $color-primary;
  border-radius: 10px;
  background-color: white;
  color: $color-primary;
}

.preview__title {
  padding-left: 1.5rem;
}

.preview__descriptionRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5rem;
}

.preview__imgSpace {
  width: 50%;
}

.preview__pic {
  height: 18rem;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.preview__catDes {
  width: 40%;
  overflow-wrap: break-word;
}

.preview__ingredients {
  width: 100%;
  overflow-wrap: break-word;
  text-align: justify;
}

.preview__preparation {
  width: 100%;
  overflow-wrap: break-word;
  text-align: justify;
}

.preview__table {
  width: 100%;
  border-collapse: collapse;
}

.preview__header {
  border: 1px solid $color-primary;
  text-align: center;
  padding: 0.5rem;
}

.preview__data {
  border: 1px solid $color-primary;
  text-align: center;
  padding: 0.25rem;
}
