@import "../../theme/variables.scss";

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__header {
    display: flex;
    width: 100%;
    background-color: black;
    border-bottom: 3px solid $color-primary;
    color: $color-primary;
  }

  &__feed {
    margin-left: 1rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 1rem;
  }

  &__emptyMessageContainer {
    width: 60%;
    height: 60vh;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid $color-primary;
    border-radius: 10px;
    background-color: white;
    @media (max-width: 576px) {
      width: 90%;
      height: 60vh;
    }

    & p {
      color: $color-primary;
      font-weight: bold;
      font-size: 2rem;
      padding: 1rem;
    }

    & button {
      background-color: $color-primary;
      color: white;
      padding: 0.75rem;
      border-radius: 10px;
      border: 3px solid $color-primary;
    }
  }
}
