@import "../../theme/variables.scss";

.recipePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  &__container {
    width: 90%;
    background-color: white;
    border: 3px solid $color-primary;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  &__header {
    padding: 1rem;
  }

  &__PicAndDesc {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    @media (max-width: 576px) {
      flex-wrap: wrap;
      width: 90%;
    }
  }

  &__Pic {
    width: 40%;
    max-height: 20rem;
    border-radius: 10px;
    object-fit: cover;
    @media (max-width: 576px) {
      width: 90%;
    }
  }

  &__catAndDesc {
    width: 45%;
    padding-left: 1rem;
    overflow-wrap: break-word;
    text-align: justify;
    @media (max-width: 576px) {
      width: 90%;
    }
  }

  &__ingredientsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & p {
      width: 100%;
      padding-left: 1rem;
    }
  }

  &__table {
    width: 60%;
    border-collapse: collapse;
    @media (max-width: 576px) {
      width: 90%;
    }
  }

  &__tableHeader {
    border: 3px solid $color-primary;
    text-align: center;
  }

  &__tableData {
    border: 3px solid $color-primary;
    text-align: center;
  }

  &__instructionsRow {
    padding: 1rem;
    overflow-wrap: break-word;
    text-align: justify;
  }

  &__buttons {
    width: 96%;
    margin: 1rem;
    display: flex;
    justify-content: end;
  }

  &__button {
    &--delete {
      cursor: pointer;
      background-color: white;
      border-radius: 10px;
      margin: 0.5rem;
      transition: transform 0.5s;
      color: red;
      border: 2px solid red;
      &:hover {
        transform: scale(1.05);
      }
    }
    &--edit {
      cursor: pointer;
      background-color: white;
      border-radius: 10px;
      margin: 0.5rem;
      transition: transform 0.5s;
      color: green;
      border: 2px solid green;
      &:hover {
        transform: scale(1.05);
      }
    }
    &--score {
      cursor: pointer;
      background-color: white;
      border-radius: 10px;
      margin: 0.5rem;
      transition: transform 0.5s;
      color: $color-primary;
      border: 2px solid $color-primary;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__spinner {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
