@import "../../theme/variables.scss";

.recipePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.recipePage__container {
  width: 90%;
  background-color: white;
  border: 3px solid $color-primary;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipePage__header {
  padding: 1rem;
}

.recipePage__PicAndDesc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  display: flex;
}

.recipePage__Pic {
  width: 50%;
  border-radius: 10px;
}

.recipe__catAndDesc {
  width: 45%;
  padding-left: 1rem;
  overflow-wrap: break-word;
  text-align: justify;
}

.recipePage__ingredientsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & p {
    width: 100%;
    padding-left: 1rem;
  }
}

.recipePage__table {
  width: 60%;
  border-collapse: collapse;
}

.recipePage__tableHeader {
  border: 3px solid $color-primary;
  text-align: center;
}

.recipePage__tableData {
  border: 3px solid $color-primary;
  text-align: center;
}

.recipePage__instructionsRow {
  padding: 1rem;
  overflow-wrap: break-word;
  text-align: justify;
}

.recipePage__buttons {
  width: 96%;
  margin: 1rem;
  display: flex;
  justify-content: end;
}

.recipePage__button {
  &--edit {
    color: green;
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    margin: 0.5rem;
  }

  &--edit:hover,
  &--delete:hover {
    transform: scale(1.05);
  }

  &--delete {
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

.recipePage__loader {
  color: $color-primary;
}
