@import "../../theme/variables.scss";

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__userRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  color: $color-primary;
  border-bottom: 5px solid $color-primary;
}

@media (min-width: 577px) {
  .profile__avatar {
    width: 20%;
  }

  .profile__userAvatar {
    margin: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid $color-primary;
  }

  .profile__headerButton {
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 0.25rem;
  }
}

@media (max-width: 576px) {
  .profile__avatar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile__userAvatar {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid $color-primary;
  }

  .profile__headerButton {
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 0.75rem;
  }
}

.profile__data {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.profile__userInfo {
  width: 100%;
}

.profile__bottomRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.profile__createRecipe {
  display: flex;
  align-items: center;

  & .profile__createRecipeButton {
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 0.25rem;
  }
}

.profile__follows {
  display: flex;
  justify-content: end;
  align-items: center;

  & p {
    margin: 0.5rem;
  }
}

.profile__userRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  border-bottom: 3px solid $color-primary;
}

.profile__recipies {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: $color-primary;
}
